[Unit]
Description= "Script permettant de récupérer les infos sur les performances de votre pc"

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /var/monit/monit.py check