[Unit]
Description=Timer exécutant toutes les 10 secondes le service de check

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s

[Install]
WantedBy=timers.target