[Unit]
Description=Timer exécutant toutes les 10 secondes le service de check

[Timer]
OnBootSec=1min
OnUnitActiveSec=10s

[Install]
WantedBy=timers.target